.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 10px;
  min-width: 300px;
  background-color: #1e1e1e;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.header {
  display: flex;
  padding: 8px;
  text-align: center;
  user-select: none;
}

.title {
  flex: 1;
}

.closeButton {
  cursor: pointer;
  transition: all 0.3s ease;
}
.closeButton:hover {
  background-color: #3e3e3e;
}

.content {
  padding: 8px;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2d2d2d99;
}
